/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styles */
body {
    background-image: url('pink.jpeg'), linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    background-size: auto, cover;
    background-position: center;
    background-blend-mode: overlay; /* This blends the two backgrounds */
    color: white; 
  }

/* Header styles */
header {
    background-color: #15001d;
    color: #fff;
    text-align: center;
    padding: 1rem;
}

/* Main styles */
main {
    padding: 1rem;
}

/* Heading styles */
h1, h2, h3, h4 {
    margin-bottom: 1rem;
    color: white; /* Text color */
}

/* Image styles */
img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

/* Table styles */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 1rem;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #270037;
    color: #fff;
}

/* Form styles */
form {
    background-color: rgba(0, 0, 0, 0.75); /* Background color for the form */
    margin-bottom: 1rem;
    padding: 1rem; /* Added padding for better appearance */
}

label {
    display: block;
    margin-bottom: 0.5rem;
}

select, button {
    padding: 0.5rem;
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

button {
    background-color: #4e4e4e;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #270037;
}

/* Footer styles */
footer {
    background-color: #270037;
    color: #fff;
    text-align: center;
    padding: 1rem;
}

/* Table caption styles */
caption {
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    padding: 0.5rem;
    background-color: #270037;
    color: #fff;
}

/* Media query for responsiveness */
@media (max-width: 768px) {
    main {
        padding: 0.5rem;
    }
}

@media (max-width: 480px) {
    header {
        font-size: 1.5rem;
    }
}
